<a href="https://colab.research.google.com/github/dodzn89-cell/dodzn89-cell/blob/main/DAY6%ED%95%84%EC%88%98%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

안녕하세요. 수강생 여러분~! Chapter21 ~ 32 수업은 잘 들으셨나요?

Chapter21 ~ 32의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.


<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

[문제 1]
사용자로부터 이름과 나이를 입력 받아, "안녕하세요, [이름]님! 당신은 [나이]살입니다."라고 출력하는 함수 greet_user를 작성하세요.

---

In [ ]:
user = input("이름과 나이를 입력해주세요.!")
이름, 나이 = user.split()

print(f'{이름}님 당신은 {나이}살 입니다.')

이름과 나이를 입력해주세요.!정상운 34
정상운님 당신은 34살 입니다.

[문제 2] 여러 숫자를 입력받아 그 합계를 반환하는 함수 sum_numbers를 작성하세요. 이 때, 가변 매개변수를 사용하세요.

In [ ]:
numbers = input('숫자를 입력해주세요').split()

def sum_number():
    total = 0
    for i in numbers:
        total += i
    return total

print(sum_numbers())

숫자를 입력해주세요1 2 3 4 5 6 7 8 9 10
55

---

[문제 4] 사용자의 이름, 나이, 성별을 출력하는 함수 print_info를 작성하세요. 이 때, 모든 매개변수는 키워드 매개변수로만 받도록 하세요.

In [6]:
user = input('이름,나이,성별을 작성해주세요').split()
def print_info(이름,나이,성별):
    print(f'이름:{이름},나이:{나이},성별:{성별}')

print_info(user[0],user[1],user[2])

이름,나이,성별을 작성해주세요정상운 34 남
이름:정상운,나이:34,성별:남

---

[문제 5] 두 개의 정수를 받아 합을 반환하는 함수 add를 작성하세요. 매개변수와 반환값에 타입 어노테이션을 추가하세요.

In [9]:
def nums(a:int(), b:int()):
    return a+b

print(nums(10,10))

20

---

[문제 6] 0부터 시작하여 n까지의 숫자 중에서 홀수만 생성하는 제너레이터 odd_numbers를 작성하세요.

In [20]:
n = int(input('정수를 입력해주세요'))
def odd_numbers(n):
    for i in range(n+1):
        if i % 2 == 1:
            yield i

print(list(odd_numbers(n)))

정수를 입력해주세요10
[1, 3, 5, 7, 9]

In [21]:
n = int(input('정수를 입력해주세요'))
def odd_numbers(n):
    for i in range(n+1):
        if i % 2 == 0:
            yield i

print(list(odd_numbers(n)))

정수를 입력해주세요10
[0, 2, 4, 6, 8, 10]

---

[문제 7] 두 숫자를 더하는 람다 함수를 작성하고, 이를 변수에 할당한 후 사용하세요.

In [25]:
nums =lambda x, y: x + y

print(nums(1,2))

3

---

[문제 8] 사용자로부터 3개의 숫자를 입력받아, 이를 튜플로 만든 후 최소값과 최대값을 출력하는 함수 min_max를 작성하세요.

In [39]:
nums = input('정수 3개 입력').split()
nums = list(map(int, nums))

def min_max(nums):
    min_n = nums[0]
    max_n = nums[0]

    for i in nums:
        if i < min_n:
            min_n = i
        if i > max_n:
            max_n = i
    print(f'최소값:{min_n},최대값:{max_n}')

min_max(nums)

정수 3개 입력10 5 8
최소값:5,최대값:10

---

[문제 9] 주어진 숫자가 짝수인지 확인하는 함수 is_even을 작성하세요. 짝수라면 True를, 아니라면 False를 반환하세요. 함수 내에서 조기 리턴을 활용하세요.

In [45]:
n = int(input('정수를 입력해주세요'))
def odd_numbers(n):
        if n % 2 == 0:
            return True
        return False

print(odd_numbers(n))

정수를 입력해주세요11
False

---

[문제 10] 팩토리얼을 계산하는 재귀 함수 factorial을 작성하세요.

In [49]:
def factorial(n):
    if n == 0 or n ==1:
        return 1
    return n * factorial(n-1)

print(factorial(7))

5040

---

[문제 11] 문자열 리스트를 받아, 각 문자열의 길이를 출력하는 함수 print_lengths를 작성하세요.

In [51]:
def print_lengths(a):
    for i in a:
        print(f'{i}, {len(i)}')

문자열 = input('아무키나 입력하세요.').split()

print_lengths(문자열)

아무키나 입력하세요.apple
apple, 5

---

[문제 12] 두 문자열을 받아서 긴 문자열을 반환하는 함수 longer_string을 작성하세요. 만약 두 문자열의 길이가 같다면, 첫 번째 문자열을 반환하세요.

In [54]:
def longer_string(a, b):
    if len(a) >= len(b):
        return a
    else:
        return b

문자1 = input('아무키나 입력하세요.')
문자2 = input('아무키나 입력하세요.')

print(longer_string(문자1, 문자2))

아무키나 입력하세요.apple
아무키나 입력하세요.banana
apple